<header>
	<label class="selectWrap">
		<select ng-options="class.classid as (class.grade + ' ' + class.classname) for class in classes" ng-model="selected">
		</select>
	</label>
	<input type="search" placeholder="&#xF002; {{placeholder}}" ng-blur="placeholder = 'Søk på elev navn'" ng-focus="placeholder = ''" ng-model="filterSearch" />
	<div class="welcome">Velkommen, {{userinfo.name}} {{userinfo.surname}}!</div>
</header>
<div id="list">
	<table class="table table-striped table-bordered">
		<button class="btn btn-link addStudent" ng-click="add()"><i class="fa fa-plus fa-2x"></i> Legg til elev</button>
		<tbody>
			<tr>
				<th>Navn</th>
				<th>Brukernavn</th>
				<th>E-post</th>
				<th>Klasse</th>
				<th>Rediger</th>
			</tr>
			<tr ng-repeat="student in students | filter:{classid:selected} | filter:filterSearch | orderBy:['grade', 'classname', 'surname']">
				<td>{{student.fullName}}</td>
				<td>{{student.username}}</td>
				<td>{{student.email || "Ingen e-post" }}</td>
				<td>{{student.grade}}{{student.classname}}</td>
				<td>
					<button class="btn btn-warning" ng-click="edit(student.username)">Rediger</button>
					<button class="btn btn-danger" ng-click="delete(student.userid, student.username)">Slett</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>